<!DOCTYPE html>
<html>
<head>
<#include "../include/head.html" />
<title><@s.m code="shift.management" /></title>
<script type="text/javascript"
	src="${res}/js/doctorBeedback/backStageManagement.js"></script>
	<script type="text/javascript"
	src="${res}/js/doctorBeedback/reply.js"></script>
<link type="text/css" rel="stylesheet"
	href="${res}/css/dialog_index.css" />
<style type="text/css">
body,td,th {
	font-size: 12px;
} 
</style>
</head>
<body style="overflow-y:auto;">
	<!-- 搜索区域 -->
	<fieldset
		style="border: 1px solid #99BBE8; margin:10px 10px; padding:5px;">
		<legend>查询条件</legend>
		<table class="n_input" id="searchform">
		    <tr>
		       <td width="100" height="20" align="right" nowrap>反馈时间：</td>
	               <td>
	               	   <input id="createdateStartDate" name="searchParams[createdateStartDate]" type="text" class="easyui-datebox" style="width: 180px"></input>
	               </td>	               	
	               <td width="40" height="20" align="right" nowrap>至：</td>
	               <td>
	               	   <input id="createdateEndDate" name="searchParams[createdateEndDate]" type="text" class="easyui-datebox" style="width: 180px"></input>
	               </td>  
		    </tr>
			<tr>
				<td width="100" height="20" align="right" nowrap>就诊科室：</td>
				<td><input type="text" class="easyui-textbox"
					name="searchParams[department]" id="department" class="" style="width: 180px" value=""/></td>

				<td width="100" height="20" align="right" nowrap>状态：</td>
				<td><select class="easyui-combobox" name=searchParams[isreply]
					id="isreply" style="width: 180px;height: 24px">
					    <option value="">请选择</option>
						<option value="0">未回复</option>
						<option value="1">已回复</option>
				</select></td>							
				<!-- <td width="100" height="20" align="right" nowrap>反馈渠道：</td>
				<td><select class="easyui-combobox" name=searchParams[chid]
					id="chid" style="width: 100px;height: 24px">
						<option value="妇幼微信">妇幼微信</option>
						<option value="趣医网">趣医网</option>
				</select></td> -->
             </tr>
             <tr>
               <td width="100" height="20" align="right" nowrap>反馈渠道：</td>
                   <td>
                   		<select class="easyui-combobox" data-options="
                   			valueField:'id',
                   			textField:'text',
                   			editable:false,
                   			url:'getChild.json'
                   		" style="width:180px;" name="searchParams[chid]" id="chid"></select>
                   </td>
				
				<!-- adtype_01:咨询,adtype_02:建议,adtype_03:投诉,adtype_04:其他 -->
				<td width="100" height="20" align="right" nowrap>反馈类型：</td>
				<td><select class="easyui-combobox" name=searchParams[fbtype]
					id="fbtype" style="width: 180px;height: 24px">
						<option value="">请选择</option>
						<option value="adtype_01">咨询</option>
						<option value="adtype_02">建议</option>
						<option value="adtype_03">投诉</option>
						<option value="adtype_04">其他</option>
				</select></td>
				<td height="32" colspan="10" align="center" nowrap="nowrap"
					style="padding-left: 30px">&nbsp;&nbsp;
					<button class="easyui-linkbutton" id="searchBtn"
						data-options="iconCls:'icon-search'">查询</button>
					<button class="easyui-linkbutton" id="clearBtn"
						data-options="iconCls:'icon-undo'">重置</button>
					  <button class="easyui-linkbutton" id="export"
						data-options="iconCls:'icon-print'">excel导出</button>
				</td>

			</tr>
		</table>
	</fieldset>
	<!-- 按钮区域 -->
	<div id="layout" class="easyui-layout" style="width:100%;height:100%;"
		data-options="fit:true">
		<div id="button-bar">     
			   	<@shiro.hasPermission name="/rimp/backStageManagement/delete.json">
			    	<a href="#" class="easyui-linkbutton" iconCls="icon-cut" plain="true" id="deleteBtn">删除</a>
			     </@shiro.hasPermission>    	         
			</div>	 	
		<div data-options="region:'center'"
			style="padding:2px;background:#fff;overflow: auto;width: 100%;">
			<div id="dg"></div>
		</div>
	</div>

	<div id="dd"></div>
</body>
</html>