<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<title>机构管理</title> 
	[#include "../include/head.html" /]
	<script type="text/javascript" src="${res}/js_custom/org.js"></script>
</head>
<body style="padding:5px 5px 5px 5px;">

	<div id="layout" class="easyui-layout" style="width:100%;height:100%;"data-options="fit:true">   
	    <div data-options="region:'west'" style="width:300px;">
	    	<ul id="org_tree" class="ztree"></ul>
	    </div>   
	    <div data-options="region:'center'" style="padding:2px;background:#fff;">
	    	<fieldset style="border: 1px solid #99BBE8; margin:10px 0; padding:5px;">
				<legend>机构信息查询</legend>
				<form action="">
					<table class="n_input" id="searchform">
			             <tr>
			                 <td height="20" align="right" nowrap>机构名称：</td>
			                 <td><input type="text" class="easyui-textbox" name="searchParams[orgName]" id="searchParams_orgName" /></td>
			                 <td height="32" colspan="18" align="center">
			                 	<a id="searchBtn" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'">查询</a>
			                 	<a id="resetBtn" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-undo'">重置</a>
			                 </td>
			             </tr>
			         </table>
				</form>
		     </fieldset>
			<div id="button-bar">
			    [@shiro.hasPermission name="/org/add.json"]
			    <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" id="addBtn">新增</a>
			    [/@shiro.hasPermission]
				[@shiro.hasPermission name="/org/delete.json"]
			    <a href="#" class="easyui-linkbutton" iconCls="icon-cut" plain="true" id="deleteBtn">删除</a>
			    [/@shiro.hasPermission]
				[@shiro.hasPermission name="/org/update.json"]
			    <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" id="editBtn">编辑</a>
			    [/@shiro.hasPermission]
				[@shiro.hasPermission name="/org/update.json"]
			    <a href="#" class="easyui-linkbutton" iconCls="icon-save" plain="true" id="saveBtn">保存</a>
			    [/@shiro.hasPermission]
			    
			     <a href="#" class="easyui-linkbutton" style="display:none;" iconCls="icon-tabicons_03_04" plain="true" id="resetDataBtn">撤销</a>
			</div>
			[@p.table id="tableList" url="list.json" idField="orgId" toolbar="button-bar" singleSelect="true" checkOnSelect="true" selectOnCheck="true" showHeader="true" title="机构列表"]
				[@p.column title="选择" field="orgId" checkbox="true" /]
				[@p.column title="机构名称" field="orgName" width="15%" /]
				[@p.column title="机构类型" field="orgTypeName" width="15%" /]
				[@p.column title="权限编码" field="authCode" width="15%" /]
				[@p.column title="描述" field="remarks" width="50%" /]
				[@p.column title="parent" field="parentOrgId" hidden="true" /]
			[/@p.table]
	    </div>   
	</div> 
	
</body>
</html>