.easyui-dialog div {
	float: left;
	display: inline;
	width: 300px;
	height: 26px;
	margin: 10px 10px 0px 20px;
}
.easyui-dialog div div {
	float: right;
	display: inline;
	width: 120px;
	height: 26px;
}

.easyui-dialog div label {
	float: left;
	width: 120px;
	display: inline-block;
	overflow: hidden;
	text-align: right;
	padding-right: 5px;
	margin-top: 0px;
}

.easyui-dialog div p {
	width:auto;
	height:30px;
	margin-right:5px;
	line-height:18px;
	float:left;
	margin-top:0px;
}

.tip {
	color: red;
	margin-right:5px;
}

.easyui-dialog div input {
	width: 170px;
	border: 1px solid #808080
}

.easyui-dialog div textarea {
	width: 460px;
	height: 80px;
}

.easyui-dialog div a {
	width:60px;
}