<!DOCTYPE html>
<html lang="zh-cn">
<head>
	<title>操作日志</title> 
	[#include "../include/head.html" /]
	<script type="text/javascript" src="${res}/js_custom/log_opt.js"></script>
</head>
<body>

	<!-- 搜索区域 -->
	<fieldset style="border: 1px solid #99BBE8; margin:10px 0; padding:5px;">
		<legend>日志查询</legend>
		<form action="">
			<table class="n_input" id="searchform">
	             <tr>
	                 <td height="20" align="right" nowrap>登录账号：</td>
	                 <td><input type="text" class="easyui-textbox" name="loginName" id="loginName" /></td>
	                 <td height="20" align="right" nowrap>起始时间：</td>
	                 <td><input class="easyui-datebox" required style="width:100px" id="startDate"></td>
	                 <td height="20" align="right" nowrap>结束时间：</td>
	                 <td><input class="easyui-datebox" required style="width:100px" id="endDate"></td>
	                 <td height="32" colspan="18" align="center">
	                 	<a id="searchBtn" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-search'">查询</a>
	                 	<a id="resetBtn" href="#" class="easyui-linkbutton" data-options="iconCls:'icon-undo'">重置</a>
	                 </td>
	             </tr>
	         </table>
		</form>
     </fieldset>

	<div id="tableList"></div>	
</body>
</html>