<!DOCTYPE html>
<html>
  <head>
    <title>资源管理</title> 
	[#include "../include/head.html" /]
	<script type="text/javascript" src="${res}/js_custom/res_edit.js"></script>
  </head>
  
  <body>
		<!-- 按钮区域 -->
		<div id="button-bar">
			[@shiro.hasPermission name="/platform/dictionary/save_dic.json"]
		    <a href="#" class="easyui-linkbutton" iconCls="icon-add" plain="true" id="addBtn">新增</a>
		    [/@shiro.hasPermission]
			[@shiro.hasPermission name="/platform/dictionary/delete_dic.json"]
		    <a href="#" class="easyui-linkbutton" iconCls="icon-cut" plain="true" id="deleteBtn">删除</a>
		    [/@shiro.hasPermission]
		    [@shiro.hasPermission name="/platform/dictionary/save_dic.json"]
		    <a href="#" class="easyui-linkbutton" iconCls="icon-edit" plain="true" id="editBtn">编辑</a>
		    <a href="#" class="easyui-linkbutton" iconCls="icon-save" plain="true" id="saveBtn">保存</a>
		    [/@shiro.hasPermission]
		</div>
		<script type="text/javascript">
			var parentId = "${resource.resId}";
		</script>
	  	[@p.table id="tableList" url="children.json?resId=${resource.resId}" idField="resId" toolbar="button-bar" pagination="false"
	  		singleSelect="true" checkOnSelect="false" selectOnCheck="false" showHeader="true" title="【${resource.resName!}】资源列表"]
			[@p.column title="选择" field="resId" checkbox="true" /]
			[@p.column field="sysId" hidden="true" /]
			[@p.column field="parentId" hidden="true" /]
			[@p.column title="资源名称" field="resName" width="10%" /]
			[@p.column title="资源类型" field="resType" width="10%" /]
			[@p.column title="连接" field="resUrl" width="15%" /]
			[@p.column title="资源图标" field="resIcon" width="15%" /]
			[@p.column title="是否启用" field="isEnabled" width="10%" /]
			[@p.column title="是否显示" field="isVisible" width="10%" /]
			[@p.column title="提示信息" field="resTooltip" width="10%" /]
			[@p.column title="描述" field="remarks" width="10%" /]
			[@p.column title="排序" field="orderNum" width="5%" /]
		[/@p.table]
  	
  </body>
</html>
