    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="${base}/plug-in/easyui/themes/default/easyui.css" type="text/css"></link>
    <link rel="stylesheet" href="${res}/css/default.css" type="text/css" />
    <link rel="stylesheet" href="${base}/plug-in/easyui/themes/icon.css" type="text/css"></link>
    <link rel="stylesheet" href="${base}/plug-in/icons/icons.css" type="text/css"></link>
    <link rel="stylesheet" href="${base}/plug-in/easyui-my97/easyui-my97.css" type="text/css"></link> 
    
    <script type="text/javascript" src="${base}/plug-in/jquery.min.js"></script>
    <script type="text/javascript" src="${base}/plug-in/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="${base}/plug-in/easyui/jquery.edatagrid.js"></script>
    <script type="text/javascript" src="${base}/plug-in/easyui/datagrid-dnd.js"></script>
    <script type="text/javascript" src="${base}/plug-in/easyui/locale/easyui-lang-zh_CN.js"></script>
	<script type="text/javascript" src="${base}/plug-in/My97DatePicker/WdatePicker.js"></script>
	<script type="text/javascript" src="${base}/plug-in/jquery-validation/jquery.validate.min.js"></script>
	<script type="text/javascript" src="${base}/plug-in/jquery-validation/local/messages_zh.min.js"></script>
	<script type="text/javascript" src="${base}/plug-in/easyui.datagrid.ext.js"></script>
	<script type="text/javascript" src="${base}/plug-in/easyui.validate.ext.js"></script>
	<script type="text/javascript" src="${base}/plug-in/skynet.common.js"></script>
	<script type="text/javascript" src="${res}/js/jquery.formui.js"></script>
	<script type="text/javascript" src="${base}/plug-in/easyui-my97/easyui.my97.js"></script>
	<script type="text/javascript" src="${res}/js/common.js"></script>
	<script type="text/javascript" src="${res}/js/Pinyin.js"></script>
	
	
	<script type="text/javascript">
		var platRoot = "${base}";
	</script>