<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	[#include "../include/head.html" /]
	<script type="text/javascript" src="${base}/plug-in/skynet.comboxGridKeyHandler.js"></script>
</head>
<body class="easyui-layout" style="overflow-y: hidden" scroll="no">

	<div id="mainPanle" region="center" style="background: #eee; overflow-y:hidden">
		<div id="tabs" class="easyui-tabs" fit="true" border="false">
			<div title="用户数据权限管理" data-options="closable:false,href:'listUserAuth.do',iconCls:'icon-tabicons_25_06'" style="padding:10px;">   
		    </div>   
		    <div title="角色数据权限管理" data-options="closable:false,href:'listRoleAuth.do',iconCls:'icon-tabicons_22_05'" style="overflow:auto;padding:10px;">   
		    </div>   
		    <div title="用户组数据权限管理" data-options="closable:false,href:'listGroupAuth.do',iconCls:'icon-tabicons_11_19'" style="padding:10px;">   
		    </div>   
		</div>
	</div>





</body>
</html>