<script type="text/javascript" src="${res}/js/common/hosCombox.js"></script>
<form id="hos_other_channels_add_form" method="post">
	<div>
		<label><span class="tip">*</span>业务渠道名称</label>
		<input class="easyui-textbox" type="text" name="chHisName" data-options="required:true" missingMessage="渠道名称不能为空！"/>
	</div>
	<div>
		<label><span class="tip">*</span>业务渠道地址</label>
		<input class="easyui-textbox" type="text" name="chHisUrl" data-options="required:true" missingMessage="渠道地址不能为空！"/>
	</div>
    <div>
        <label><span class="tip">*</span>命名空间</label>
        <input class="easyui-textbox" type="text" name="chHisNamespace" data-options="required:true" missingMessage="命名空间不能为空！"/>
    </div>
	<div>
		<label><span class="tip">*</span>所属医院</label>
	    <select class="easyui-combobox" 
			data-options="
      		valueField:'hosId',
      		textField:'hosName',
      		editable:false,
      		required:true,
            missingMessage:'请选择所属医院',
            url:'${base}/rimp/hos/listAll.json',
            onLoadSuccess:function(){
            	var data = $(this).combobox('getData');
            	$(this).combobox('select',data[0].hosId);
			  }
            " style="width:170px;" name="hosId">
		</select>	    
	</div>
	<div>
		<label>渠道状态</label>
		<select class="easyui-combobox" data-options="
				valueField:'dictValue',
        		textField:'dictName',
        		editable:false,
        		required:true,
                missingMessage:'请选择渠道状态',
                url:'${base}/platform/dictionary/show_dic_by_type.json?typeId=STATE'" style="width:170px;" name="chState">
		
		</select>
	</div>
	<div style="display: block;width: 95%;">
    	<label>备注</label>
        <input class="easyui-textbox" name="remarks" data-options="multiline:true" style="height:60px"/>
    </div>
</form>
