<form id="other_hisDatachneels_add_form" method="post">
	<div>
		<label><span class="tip">*</span>渠道名称</label>
		<input class="easyui-textbox" type="text" name="chHisName" data-options="required:true" missingMessage="渠道名称不能为空！"/>
	</div>
    <div>
        <label><span class="tip">*</span>排班同步递增天数</label>
        <input class="easyui-numberbox" type="text" name="schmSynchNumday" value="1" data-options="required:true,min:1,max:10" missingMessage="排班递增天数不能为空！"/>
    </div>
	<div style="display: block;width: 95%;">
		<label><span class="tip">*</span>渠道地址</label>
		<input class="easyui-textbox" type="text" name="chHisUrl" data-options="required:true" style="width: 78%" missingMessage="渠道地址不能为空！"/>
	</div>
	<div>
		<label>渠道状态</label>
		<select class="easyui-combobox" data-options="
				valueField:'dictValue',
        		textField:'dictName',
        		editable:false,
        		required:true,
                missingMessage:'请选择渠道状态',
                url:'${base}/platform/dictionary/show_dic_by_type.json?typeId=STATE'" style="width:170px;" name="chState">
		</select>
	</div>
	<div>
		<label><span class="tip">*</span>所属医院</label>
	    <select class="easyui-combobox" 
			data-options="
      		valueField:'hosId',
      		textField:'hosName',
      		editable:false,
      		required:true,
            missingMessage:'请选择所属医院',
            url:'${base}/rimp/hos/listAll.json',
            onLoadSuccess:function(){
            	var data = $(this).combobox('getData');
            	$(this).combobox('select',data[0].hosId);
			  }
            " style="width:170px;" name="hosId">
		</select>	    
	</div>
	<div style="display: block;width: 95%;">
    	<label>备注</label>
        <input class="easyui-textbox" name="remarks" data-options="multiline:true" style="height:60px;width: 78%"/>
    </div>
</form>
